@media (max-width: 1064px) {
	/*header*/
	.nav-a{
	font-size: 14px;
	
	}
	.navigation-li{
		margin-right: 22px;
	}
	
    .loren-ipsum h1{
	color: #fff;
	font-size: 60px;
	}
	
	.loren-p{
		font-size: 16px;
		color: #fff; 
	}

	.btn{
		font-size: 12px;
	}
}

}
@media (max-width: 1190px){

}


@media (max-width: 1224px){
.second-section-flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.left-block{
	width: 50%;
	padding: 80px;
}
.block-p1{
	font-size: 27px;
	
}
.block-p2{
	font-size: 16px;
	}

}
@media (max-width:1000px){
	.second-section-flex{
	display:flex;
	flex-direction: column;
}
.left-block{
	width: 100%;
}
.right-block{
	width: 100%;
}
.block-p1{
	font-size:30px;
	
}
.block-p2{
	font-size: 18px;
	}
.section3{
	padding-top: 60px;}
	.section3-div1 h3{
	font-size: 30px;}
	.section3-div1 p{
	font-size: 15px;
}
.smallboxes{
	display: flex;
	flex-direction: column;
	padding:26px;

}
.icon{
	padding: 13px;

}
.smallboxes p{
	font-size: 14px;

}
.smallboxes h4{
	font-size: 15px;
	margin-bottom: 10px;
}
.title{
	font-size: 30px;
}
.title-p{
	font-size: 16px;

}

}
@media (max-width: 580px){
.navigation-ul{
	display: none;
}
.block-p1{
	font-size: 30px;

}
.block-p2{
	font-size: 14px;
}
.section6 p{
	font-size: 16px;

}
}
